@import url("https://fonts.googleapis.com/css2?family=Felipa&family=Imperial+Script&family=Lobster&family=Meie+Script&family=Tangerine:wght@400;700&family=Commissioner:wght@100..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.comisioner {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.imperial-script-regular {
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

.meie-script-regular {
  font-family: "Meie Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.felipa-regular {
  font-family: "Felipa", serif;
  font-weight: 400;
  font-style: normal;
}

.limit-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@theme {
  --color-dark-400: #86868b;
  --color-dark-300: #2e2e30;
  --color-dark-200: #141414;
  --color-dark-100: #121212;

  --color-white-100: #efefef;
  --color-white-200: #cecece;

  --color-lavender-grey: #8b8bae;
  --color-sky-reflection: #8ab2ca;
  --color-frosted-blue: #88d9e6;
  --color-icy-aqua: #c5fffd;
  --font-lobster: "Lobster", sans-serif;
  --font-imperial: "Imperial Script", cursive;
  --font-tangerine: "Tangerine", cursive;
  --font-meie-script: "Meie Script", cursive;
  --font-felipa: "Felipa", serif;
  --font-commissioner: "Commissioner", sans-serif;
}

* {
  scrollbar-color: var(--color-dark-300) var(--color-black);
}

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: var(--font-commissioner);
  font-size: medium;
  @apply bg-white dark:bg-black;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility text-colors {
  @apply text-black dark:text-white;
}

@utility bg-colors {
  @apply bg-white-100 dark:bg-dark-100;
}

@utility bg-text-color {
  @apply text-colors bg-colors;
}

@layer components {
  header {
    @apply w-screen fixed top-0 left-0 z-50 flex-center bg-text-color min-h-[7vh] ;

    nav {
      @apply container mx-auto justify-center md:justify-between items-center flex md:px-[8vw] lg:px-[10vw];

      div {
        @apply flex-row flex justify-between items-center max-w-xl lg:max-w-2xl;

        img {
          @apply cursor-pointer hover:-translate-y-0.5 transition-all duration-300 ease-in-out h-8 w-auto;
        }

        h2 {
          @apply text-colors font-semibold lg:text-xl;
        }
      }

      ul {
        @apply flex-center gap-8 not-md:hidden;
        a {
          @apply opacity-0 md:opacity-80 md:hover:opacity-100 md:block cursor-pointer transition-all duration-300 ease-in-out;
        }
      }
    }

    #darkmode {
      @apply absolute top-0 right-0 translate-y-[calc((7vh-35px)/2)] -translate-x-8 z-60 items-center;
      button {
        @apply hover:bg-gray-100 dark:hover:bg-gray-700 outline-none ring-4 ring-gray-200 dark:ring-gray-700 rounded-lg text-sm p-2.5;
      }
    }

    #dropdown {
      @apply md:hidden absolute left-0 top-0 translate-y-[calc((7vh-20px)/2)] translate-x-4 z-60;
      img {
        @apply h-5 w-auto;
      }

      #navdrop {
        @apply rounded-2xl w-[30vw] pl-2 mt-5 h-auto bg-white/80 dark:bg-black/80;
        div {
          @apply bg-transparent py-3 pl-2;
          ul {
            @apply flex flex-col gap-4;
            button {
              @apply opacity-70 flex-row hover:opacity-100 cursor-pointer transition-all duration-300 ease-in-out;
            }
          }
        }
      }
    }
  }

  #home {
    @apply relative z-10 h-dvh bg-colors;

    #hero {
      @apply absolute w-[50vw] top-1/3 left-1/2 md:top-1/2 
         -translate-x-1/2 -translate-y-1/2
         -ml-16 md:-ml-8 md:-mt-8
         flex flex-col align-middle;
      div {
        @apply items-start;
        h2 {
          @apply text-white font-semibold text-4xl lg:text-6xl;
        }
        span {
          @apply text-white font-light text-base lg:text-xl;
        }
      }
    }

    #scrolldown {
      @apply absolute h-[30vh]! w-full! inset-x-0 bottom-0  flex flex-col align-middle justify-center;
      h2 {
        @apply text-white font-semibold text-3xl lg:text-5xl text-center;
      }

      .down-arrow {
        @apply h-[10vh]! w-12 md:w-16 mx-auto;
      }
    }

    #canvas {
      @apply w-full! h-dvh! absolute inset-0 z-[-1] bg-dark-200;
    }
  }
}
