@import url('https://fonts.googleapis.com/css2?family=Felipa&family=Imperial+Script&family=Lobster&family=Meie+Script&family=Tangerine:wght@400;700&display=swap');

@import 'tailwindcss';

body {
}

.lobster-regular {
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.imperial-script-regular {
  font-family: 'Imperial Script', cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-regular {
  font-family: 'Tangerine', cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: 'Tangerine', cursive;
  font-weight: 700;
  font-style: normal;
}

.meie-script-regular {
  font-family: 'Meie Script', cursive;
  font-weight: 400;
  font-style: normal;
}

.felipa-regular {
  font-family: 'Felipa', serif;
  font-weight: 400;
  font-style: normal;
}

.limit-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@theme {
  --color-dark-slate-grey: #374b4a;
  --color-granite: #526760;
  --color-lavender-grey: #8b8bae;
  --color-sky-reflection: #8ab2ca;
  --color-frosted-blue: #88d9e6;
  --color-icy-aqua: #c5fffd;
  --font-lobster: 'Lobster', sans-serif;
  --font-imperial: 'Imperial Script', cursive;
  --font-tangerine: 'Tangerine', cursive;
  --font-meie-script: 'Meie Script', cursive;
  --font-felipa: 'Felipa', serif;
}
